.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
}
.body {
  position: fixed;
  min-width: 30rem;
  max-width: 80vw;
  left: 50vw;
  min-height: 20rem;
  top: 50vh;
  z-index: 4;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%,-50%);
}

.header {
  color: white;
  background-color: #4b1a30;
  padding: 1px 5px;
  padding: 10px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.message {
  height: auto;
  flex-grow: 2;
  padding: 10px 10px;
  display :flex;
  flex-direction: column;
}
.row
{
  display :flex;
  flex-direction: row;
  justify-content: space-between;
}
.seat
{
 border: 1px solid #ccc;
 cursor: pointer;
 text-align: center;
 margin: 1px;
}
.invalid{
  opacity: 0.2;
  cursor: not-allowed;
 }
 .chosen{
  background-color: green;
 }
.form {
  /* height: 5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
}
.button {
  color: white;
  background-color: #4b1a30;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 15px 15px;
  opacity: 0.8;
  font-size: large;
}
.button:hover {
  opacity: 1;
}
.button:disabled {
  cursor:not-allowed;
  opacity: 0.2;
}